<div class="container">
    <h1>Controle :</h1>

    <form id="trainsController" name="trainsController" method="post" action="/control" class="">
        <div class="col-md-6">
            <div id="train0" class="panel panel-default">
                <div class="panel-heading">TRAIN A</div>
                <div class="panel-body">
                    <label for="speed0">Speed</label>
                    <!-- <input type="speed0" name="speed0" id="speed0" class="form-control trainParameters" value="{{values.speed0}}"> -->
                    <!-- <input
                    type="text"
                    name="speed0"
                    data-provide="slider"
                    data-slider-min="0"
                    data-slider-max="15"
                    data-slider-step="1"
                    data-slider-value="{{values.speed0}}"
                    class="form-control trainParameters"
                    > -->
                    <div class="form-group">
                      <input type="number" id="speed0" name="speed0" class="form-control trainParameters" placeholder="Vitesse" value="0">
                      <!-- <button type="button" id="minus0" class="btn btn-default">-</button>
                      <button type="button" id="add0" class="btn btn-default pull-right">+</button> -->
                    </div>

                    <div class="form-group">


                        <div class="radio">
                            <label>
                                <input type="radio" name="light0" id="light01" class="trainParameters" value="1" checked>
                                Switch ON light
                            </label>
                        </div>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="light0" id="light02" class="trainParameters" value="0">
                            Switch OFF light
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div id="train1" class="panel panel-default">
                <div class="panel-heading">TRAIN B</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="speed1">Speed</label>
                        <!-- <input type="speed1" name="speed1" id="speed1" class="form-control trainParameters"> -->
                        <!-- <input
                        type="text"
                        name="speed1"
                        data-provide="slider"
                        data-slider-min="0"
                        data-slider-max="15"
                        data-slider-step="1"
                        data-slider-value="{{values.speed1}}"
                        class="form-control trainParameters"
                        > -->
                        <div class="form-group">
                          <input type="number" id="speed1" name="speed1" class="form-control trainParameters" placeholder="Vitesse" value="0">
                          <!-- <button type="button" id="minus1" class="btn btn-default">-</button>
                          <button type="button" id="add1" class="btn btn-default pull-right">+</button> -->
                        </div>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="light1" id="light11" class="trainParameters" value="1" checked>
                            Switch ON light
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="light1" id="light12" class="trainParameters" value="0">
                            Switch OFF light
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <button id="emergency"role="button" class="btn btn-default center-block">EMERGENCY STOP</button>
</div>
<script type="text/javascript">

$("#minus0").click(function () {
  if (parseInt($("#speed0").val()) > 0) {
    $("#speed0").val(parseInt($("#speed0").val()) - 1);
  };
})

$("#add0").click(function () {
  if (parseInt($("#speed0").val()) < 15) {
    $("#speed0").val(parseInt($("#speed0").val()) + 1);
  };
})

$("#minus1").click(function () {
  if (parseInt($("#speed1").val()) > 0) {
    $("#speed1").val(parseInt($("#speed1").val()) - 1);
  };
})

$("#add1").click(function () {
  if (parseInt($("#speed1").val()) < 15) {
    $("#speed1").val(parseInt($("#speed1").val()) + 1);
  };
})

//$("[name='light1']").bootstrapSwitch();

$(".trainParameters").change(function(){
    /* METHODE ASYNCHRONE : AJAX */
    $.ajax({
        method: "POST",
        url: "/control",
        //data: { name: "John", location: "Boston" }
        data: $("#trainsController").serialize()
    })
    .done(function( msg ) {
        console.log( "Data Saved: " + msg );
    });
});

$("#emergency").click(function(){
    /* METHODE ASYNCHRONE : AJAX */
    $('#light02').prop("checked", "true")
    $('#speed0').prop("value", "0")
    $('#light12').prop("checked", "true")
    $('#speed1').prop("value", "0")

    $.ajax({
        method: "POST",
        url: "/control",
        //data: { name: "John", location: "Boston" }
        data:  $("#trainsController").serialize()
    })
    .done(function( msg ) {
        console.log( "EMERGENCY STOP" );
    });
});
</script>
